Following Python code shows how to connect to an existing database. If the database does not exist, then it will be created and finally a database object will be returned.

In [ ]:
#Connect To Database
import sqlite3

conn = sqlite3.connect('testdb.db')

print("Opened database successfully")

In [ ]:
##Create a Table
#!/usr/bin/python

import sqlite3

conn = sqlite3.connect('testdb.db')
print("Opened database successfully")

conn.execute('''CREATE TABLE COMPANY
         (ID            INT     PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Table created successfully")

conn.close()

In [ ]:
#create another table contacts
import sqlite3

conn = sqlite3.connect('testdb.db')
print("Opened database successfully")

conn.execute('''CREATE TABLE CONTACTS(
         ID             INT     PRIMARY KEY NOT NULL,
         NAME           TEXT    NOT NULL,
         EMAIL          TEXT    NOT NULL UNIQUE,
         PHONE          INT     NOT NULL UNIQUE
         );
         ''')
print("Table created successfully")

conn.close()

In [ ]:
#INSERT Operation
#!/usr/bin/python

import sqlite3

conn = sqlite3.connect('testdb.db')
print("Opened database successfully")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print("Records created successfully")
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('testdb.db')
print("Opened database successfully")
conn.execute('''CREATE TABLE STUDENT(
         ID             INT     PRIMARY KEY NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT    NOT NULL UNIQUE,
         SALARY          INT     NOT NULL UNIQUE,
         ADDRESS        TEXT    
         );
         ''')
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('testdb.db')
print("Opened database successfully")
conn.execute("INSERT INTO STUDENT (ID,NAME,AGE,SALARY) \
      VALUES (1, 'Paul', 32,  20000.00 )");

conn.execute("INSERT INTO STUDENT (ID,NAME,AGE,SALARY) \
      VALUES (2, 'Allen', 29,  15000.00 )");

conn.execute("INSERT INTO STUDENT (ID,NAME,AGE,SALARY) \
      VALUES (3, 'Teddy', 23, 22000.00 )");

conn.execute("INSERT INTO STUDENT (ID,NAME,AGE,SALARY) \
      VALUES (4, 'Mark', 25, 65000.00 )");

conn.commit()
print("Records created successfully")
conn.close()

In [ ]:
#SELECT Operation
#display records from the table
#!/usr/bin/python

import sqlite3

conn = sqlite3.connect('testdb.db')

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3], "\n")

conn.close()

In [ ]:
#UPDATE Operation
import sqlite3

conn = sqlite3.connect('test.db')
conn.execute("UPDATE COMPANY set SALARY = 24800.00 where ID = 1")
conn.commit
print("Total number of rows updated :", conn.total_changes)
cursor = conn.execute("SELECT id,name,address,salary from COMPANY")
for row in cursor:
    print("id,", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")
conn.close()

In [ ]:
#DELETE operation
import sqlite3
conn = sqlite3.connect('test.db')
conn.execute("DELETE from COMPANY where ID = 2")
conn.commit
print("changes", conn.total_changes)
cursor = conn.execute("SELECT id,name,address,salary from COMPANY")
for row in cursor:
    print("id,", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")
conn.close()

In [ ]:
import sqlite3
connection = sqlite3.connect("swechadb.db")
connection.close()

In [ ]:
connection = sqlite3.connect("swechadb.db")
connection.execute('''CREATE TABLE books(
    id      INT    PRIMARY KEY,
    NAME    TEXT,
    TOPIC   TEXT,
    DATE    DATE
);''')
connection.close()

In [ ]:
import sqlite3
connection = sqlite3.connect("swechadb.db")
connection.execute('''INSERT INTO books(id,NAME,TOPIC,DATE)
VALUES(1,"Swechabook","free software moment",2019-12-9)''')
connection.commit()
connection.close()

In [2]:
import sqlite3
connection = sqlite3.connect("swechadb.db")
cursor = connection.execute('''SELECT id,NAME,TOPIC,DATE FROM books''')
for row in cursor.fetchall():
    print(row)

(1, 'Swechabook', 'free software moment', 1998)

In [2]:
import sqlite3
connection = sqlite3.connect("swechadb.db")
connection.execute("UPDATE books set TOPIC='software moment' where id = 1")
connection.commit
cursor = connection.execute("SELECT * from books")
for row in cursor:
    print(row)
connection.close()

(1, 'Swechabook', 'software moment', 1998)

In [10]:
import sqlite3
connection = sqlite3.connect("swechadb.db")
connection.execute("INSERT INTO books VALUES(4,'SOFTWARE4','software4','2019-03-18')")
connection.commit
cursor = connection.execute("SELECT * from books")
for row in cursor:
    print(row)
connection.close()

(1, 'Swechabook', 'free software moment', 1998)
(4, 'SOFTWARE4', 'software4', '2019-03-18')

In [1]:
#!/usr/bin/env python2
# -*- coding: utf-8 -*-

import sqlite3 as lite

con = lite.connect('swechadb.db')
con.execute("CREATE TABLE cars(id INT, name TEXT, price INT)")
con.execute("INSERT INTO cars VALUES(1,'Audi',52642)")
con.execute("INSERT INTO cars VALUES(2,'Mercedes',57127)")
con.execute("INSERT INTO cars VALUES(3,'Skoda',9000)")
con.execute("INSERT INTO cars VALUES(4,'Volvo',29000)")
con.execute("INSERT INTO cars VALUES(5,'Bentley',350000)")
con.execute("INSERT INTO cars VALUES(6,'Citroen',21000)")
con.execute("INSERT INTO cars VALUES(7,'Hummer',41400)")
con.execute("INSERT INTO cars VALUES(8,'Volkswagen',21600)")
con.commit()
con.close()

In [3]:
con = lite.connect('swechadb.db')
cursor = con.execute("SELECT * from cars")
for row in cursor.fetchall():
    print(row)

(1, 'Audi', 52642)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(6, 'Citroen', 21000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)

In [4]:
con.execute("UPDATE cars set price = 53000 where id = 1")
con.commit()
cursor = con.execute("SELECT * from cars")
for row in cursor.fetchall():
    print(row)

(1, 'Audi', 53000)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(6, 'Citroen', 21000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)

In [5]:
con.execute("DELETE from cars where id = 2")
con.commit()
cursor = con.execute("SELECT * from cars")
for row in cursor.fetchall():
    print(row)

(1, 'Audi', 53000)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(6, 'Citroen', 21000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)